@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');

/*About us header*/
.about-us {
    background-image: url('../images/banner-about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
}

/*.about-overlay {
    background-color: #07173b;
    opacity: 0.85;
    padding-top: 11px;
    padding-bottom: 112px;
}*/

.about-us h2 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 285%;
    font-weight: 700;
    text-align: center;
    padding-top: 120px;
}

.about-us p {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 120px;
}

@media only screen and (min-width: 358px) and (max-width: 767px) {
    .about-us {
        background-position: center !important;
    }
    .about-us h2 {
        font-size: 230%;
        padding-top: 60px;
    }

    .about-us p {
        font-size: 12px;
        padding-bottom: 60px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .about-us {
        background-position: center !important;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1050px) {
    .about-us {
        background-position: center !important;
    }
}
/*End of About us header*/

.department {
    background-color: #ededed;
}

.depart-livelihood {
    padding-top: 100px;
    padding-bottom: 200px;
}

.depart-livelihood h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 900;
}

.depart-livelihood .card{
    background-color: #ededed;
}

.depart-livelihood .card-title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-top: 77px;
}

.depart-livelihood .btn.btn-primary {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: #114c91 !important;
    border-radius: 0px;
    width: 90% !important;
} 

@media only screen and (min-width: 358px) and (max-width: 539px) {
    .depart-livelihood .card {
        height: auto !important;
    }

    .depart-livelihood .row {
        margin-left: 16px !important;
    }
}

@media only screen and (min-width: 540px) and (max-width: 767px) {
    .depart-livelihood .card {
        height: auto !important;
    }

    .depart-livelihood .row {
        margin-left: 102px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .depart-livelihood .card {
        height: auto !important;
    }

    .depart-livelihood .row {
        margin-left: 200px !important;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1050px) {
    .depart-livelihood .card {
        width: 100% !important;
    }
}